[DEFAULT]
goodIcon = green.ico
badIcon = red.ico
longTime = 7200

# [6.3SE Client]
# url = http://bldwtl33:8080/cruisecontrol/buildresults/impax-client-setup_impax63se
# goodIcon = hshead_xp.ico
# badIcon = sbhead_xp.ico
# longTime = 2700

[65 Client]
url = http://bldwtl32:8080/cruisecontrol/buildresults/impax-client-setup-impax65-clean
goodIcon = hshead_xp.ico
badIcon = sbhead_xp.ico
longTime = 2700

[65 Client Incremental]
url = http://bldwtl32:8080/cruisecontrol/buildresults/impax-client-setup-impax65-incremental
goodIcon = dino.ico
badIcon = bull.ico
longTime = 2700

[6.5 App Server]
url = http://bldwtl37.aqua.mitra.com:8080/cruisecontrol/buildresults/agfahc-pacs-services-setup_impax65
goodIcon = yoda.ico
badIcon =  maul.ico
longTime = 5400

[64 Client]
url = http://bldwtl27:8080/cruisecontrol/buildresults/impax-client-setup-impax64
goodIcon = hshead_xp.ico
badIcon = sbhead_xp.ico
longTime = 2700

[64 Client Incremental]
url = http://bldwtl27:8080/cruisecontrol/buildresults/impax-client-setup-impax64-incremental
goodIcon = dino.ico
badIcon = bull.ico
longTime = 2700

[64 Display]
url = http://bldwtl13:8080/cruisecontrol/buildresults/impax-client-study-image-viewer_impax64
badIcon = red_imac.ico
goodIcon = green_imac.ico

[64 App]
url = http://bldwtl16:8080/cruisecontrol/buildresults/agfahc-pacs-services-setup-impax64
goodIcon = yoda.ico
badIcon = maul.ico

# [63se App Server]
# url = http://bldwtl47.aqua.mitra.com:8080/cruisecontrol/buildresults/agfahc-pacs-services-setup_impax63se?tab=buildResults
# goodIcon = yoda.ico
# badIcon =  maul.ico
# longTime = 5400

# [64 Migration]
# url = http://bldwtl23:8080/cruisecontrol/buildresults/impax-migration_impax64
# goodIcon = g2_paws.ico
# badIcon = r2_paws.ico

# [6.3SE Server]
# url = http://seserver-3.aqua.mitra.com:8080/cruisecontrol/buildresults/impax_impax63se?tab=buildResults
# goodIcon = water_melon2.ico
# badIcon = water_melon.ico

# [64 Core]
# url = http://seserver-3.aqua.mitra.com:8080/cruisecontrol/buildresults/impax-core_impax63se
# goodIcon = Protect Green.ico
# badIcon = Protect Red.ico

# [64 MITK]
# url = http://bldwtl16:8080/cruisecontrol/buildresults/mitk-impax64
# goodIcon = green Cactus.ico
# badIcon = Lotus.ico


[loggers]
keys=root

[handlers]
keys=handler

[formatters]
keys=formatter

[logger_root]
level=DEBUG
handlers=handler

[handler_handler]
class=FileHandler
level=NOTSET
formatter=formatter
args=('cruiseTrayIcon.log', 'w')

[formatter_formatter]
format=%(asctime)s %(levelname)5s %(message)s
datefmt=

