[DEFAULT]
backupDir = \\nas01\\inigo\backup\bconrad
fileName = %Y.%m.%d_%H.%M.%S.zip

[Main Client Sandbox]
sourceDir = D:\Sandbox\impax-client-setup_main\src
outputFile = %(backupDir)s\impax-client-setup_main\%(fileName)s
backupper = SparseCvsDirectoryBackupper

[Main Services Sandbox]
sourceDir = D:\Sandbox\agfahc-pacs-services-setup_main\src
outputFile = %(backupDir)s\agfahc-pacs-services-setup_main\%(fileName)s
backupper = SparseCvsDirectoryBackupper

[CUF Services Sandbox]
sourceDir = D:\Sandbox\agfahc-pacs-services-setup_cuf\src
outputFile = %(backupDir)s\agfahc-pacs-services-setup_cuf\%(fileName)s
backupper = SparseCvsDirectoryBackupper

[CUF Client Sandbox]
sourceDir = D:\Sandbox\impax-client-setup_cuf\src
outputFile = %(backupDir)s\impax-client-setup_cuf\%(fileName)s
backupper = SparseCvsDirectoryBackupper

[CUF Documents]
sourceDir = d:\bconrad\My Stuff\Communication of Urgent Findings
outputFile = %(backupDir)s\cuf\%(fileName)s
backupper = DocumentsBackupper


[DDS Template]
sourceDir = d:\bconrad\My Stuff\DDS Template
outputFile = %(backupDir)s\dds\%(fileName)s
backupper = DocumentsBackupper

[Firefox Profile]
sourceDir = c:\Documents and Settings\bconrad\Application Data\Mozilla\Firefox\Profiles
outputFile = %(backupDir)s\Mozilla\%(fileName)s
backupper = DocumentsBackupper

################################################

[loggers]
keys=root

[handlers]
keys=handler

[formatters]
keys=formatter

[logger_root]
level=DEBUG
handlers=handler

[handler_handler]
class=FileHandler
level=NOTSET
formatter=formatter
args=('backupSandbox.log', 'w')

[formatter_formatter]
format=%(asctime)s %(levelname)5s %(message)s
datefmt=

